/* gridsizer.css v1.0.0 | MIT License | github.com/joaomosantos/gridsizer */
.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em; }

.row {
  width: 100%;
  margin-bottom: 1em; }
  .row:after {
    content: "";
    clear: both;
    display: table; }

[class*=gs-] {
  float: left;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden; }

@media (min-width: 640px) {
  .gs-t1 {
    width: 8.33333%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t1 {
    margin-left: 8.33333%; } }

@media (min-width: 640px) {
  .gs-t2 {
    width: 16.66667%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t2 {
    margin-left: 16.66667%; } }

@media (min-width: 640px) {
  .gs-t3 {
    width: 25%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t3 {
    margin-left: 25%; } }

@media (min-width: 640px) {
  .gs-t4 {
    width: 33.33333%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t4 {
    margin-left: 33.33333%; } }

@media (min-width: 640px) {
  .gs-t5 {
    width: 41.66667%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t5 {
    margin-left: 41.66667%; } }

@media (min-width: 640px) {
  .gs-t6 {
    width: 50%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t6 {
    margin-left: 50%; } }

@media (min-width: 640px) {
  .gs-t7 {
    width: 58.33333%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t7 {
    margin-left: 58.33333%; } }

@media (min-width: 640px) {
  .gs-t8 {
    width: 66.66667%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t8 {
    margin-left: 66.66667%; } }

@media (min-width: 640px) {
  .gs-t9 {
    width: 75%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t9 {
    margin-left: 75%; } }

@media (min-width: 640px) {
  .gs-t10 {
    width: 83.33333%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t10 {
    margin-left: 83.33333%; } }

@media (min-width: 640px) {
  .gs-t11 {
    width: 91.66667%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t11 {
    margin-left: 91.66667%; } }

@media (min-width: 640px) {
  .gs-t12 {
    width: 100%; } }

@media (min-width: 640px) and (max-width: 767px) {
  .gs-offset-t12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .gs-s1 {
    width: 8.33333%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s1 {
    margin-left: 8.33333%; } }

@media (min-width: 768px) {
  .gs-s2 {
    width: 16.66667%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s2 {
    margin-left: 16.66667%; } }

@media (min-width: 768px) {
  .gs-s3 {
    width: 25%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s3 {
    margin-left: 25%; } }

@media (min-width: 768px) {
  .gs-s4 {
    width: 33.33333%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s4 {
    margin-left: 33.33333%; } }

@media (min-width: 768px) {
  .gs-s5 {
    width: 41.66667%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s5 {
    margin-left: 41.66667%; } }

@media (min-width: 768px) {
  .gs-s6 {
    width: 50%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s6 {
    margin-left: 50%; } }

@media (min-width: 768px) {
  .gs-s7 {
    width: 58.33333%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s7 {
    margin-left: 58.33333%; } }

@media (min-width: 768px) {
  .gs-s8 {
    width: 66.66667%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s8 {
    margin-left: 66.66667%; } }

@media (min-width: 768px) {
  .gs-s9 {
    width: 75%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s9 {
    margin-left: 75%; } }

@media (min-width: 768px) {
  .gs-s10 {
    width: 83.33333%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s10 {
    margin-left: 83.33333%; } }

@media (min-width: 768px) {
  .gs-s11 {
    width: 91.66667%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .gs-s12 {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 979px) {
  .gs-offset-s12 {
    margin-left: 100%; } }

@media (min-width: 980px) {
  .gs-m1 {
    width: 8.33333%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m1 {
    margin-left: 8.33333%; } }

@media (min-width: 980px) {
  .gs-m2 {
    width: 16.66667%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m2 {
    margin-left: 16.66667%; } }

@media (min-width: 980px) {
  .gs-m3 {
    width: 25%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m3 {
    margin-left: 25%; } }

@media (min-width: 980px) {
  .gs-m4 {
    width: 33.33333%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m4 {
    margin-left: 33.33333%; } }

@media (min-width: 980px) {
  .gs-m5 {
    width: 41.66667%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m5 {
    margin-left: 41.66667%; } }

@media (min-width: 980px) {
  .gs-m6 {
    width: 50%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m6 {
    margin-left: 50%; } }

@media (min-width: 980px) {
  .gs-m7 {
    width: 58.33333%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m7 {
    margin-left: 58.33333%; } }

@media (min-width: 980px) {
  .gs-m8 {
    width: 66.66667%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m8 {
    margin-left: 66.66667%; } }

@media (min-width: 980px) {
  .gs-m9 {
    width: 75%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m9 {
    margin-left: 75%; } }

@media (min-width: 980px) {
  .gs-m10 {
    width: 83.33333%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m10 {
    margin-left: 83.33333%; } }

@media (min-width: 980px) {
  .gs-m11 {
    width: 91.66667%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m11 {
    margin-left: 91.66667%; } }

@media (min-width: 980px) {
  .gs-m12 {
    width: 100%; } }

@media (min-width: 980px) and (max-width: 1199px) {
  .gs-offset-m12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .gs-l1 {
    width: 8.33333%; } }

@media (min-width: 1200px) {
  .gs-offset-l1 {
    margin-left: 8.33333%; } }

@media (min-width: 1200px) {
  .gs-l2 {
    width: 16.66667%; } }

@media (min-width: 1200px) {
  .gs-offset-l2 {
    margin-left: 16.66667%; } }

@media (min-width: 1200px) {
  .gs-l3 {
    width: 25%; } }

@media (min-width: 1200px) {
  .gs-offset-l3 {
    margin-left: 25%; } }

@media (min-width: 1200px) {
  .gs-l4 {
    width: 33.33333%; } }

@media (min-width: 1200px) {
  .gs-offset-l4 {
    margin-left: 33.33333%; } }

@media (min-width: 1200px) {
  .gs-l5 {
    width: 41.66667%; } }

@media (min-width: 1200px) {
  .gs-offset-l5 {
    margin-left: 41.66667%; } }

@media (min-width: 1200px) {
  .gs-l6 {
    width: 50%; } }

@media (min-width: 1200px) {
  .gs-offset-l6 {
    margin-left: 50%; } }

@media (min-width: 1200px) {
  .gs-l7 {
    width: 58.33333%; } }

@media (min-width: 1200px) {
  .gs-offset-l7 {
    margin-left: 58.33333%; } }

@media (min-width: 1200px) {
  .gs-l8 {
    width: 66.66667%; } }

@media (min-width: 1200px) {
  .gs-offset-l8 {
    margin-left: 66.66667%; } }

@media (min-width: 1200px) {
  .gs-l9 {
    width: 75%; } }

@media (min-width: 1200px) {
  .gs-offset-l9 {
    margin-left: 75%; } }

@media (min-width: 1200px) {
  .gs-l10 {
    width: 83.33333%; } }

@media (min-width: 1200px) {
  .gs-offset-l10 {
    margin-left: 83.33333%; } }

@media (min-width: 1200px) {
  .gs-l11 {
    width: 91.66667%; } }

@media (min-width: 1200px) {
  .gs-offset-l11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .gs-l12 {
    width: 100%; } }

@media (min-width: 1200px) {
  .gs-offset-l12 {
    margin-left: 100%; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.valign-wrapper {
  display: table;
  width: 100%; }
  .valign-wrapper .valign {
    display: table-cell;
    vertical-align: middle; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.pull-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }
